config SMAF
	tristate "Secure Memory Allocation Framework"
	depends on DMA_SHARED_BUFFER
	help
	  Choose this option to enable Secure Memory Allocation Framework

config SMAF_CMA
	tristate "SMAF CMA allocator"
	depends on SMAF && HAVE_DMA_ATTRS
	help
	  Choose this option to enable CMA allocation within SMAF

config SMAF_OPTEE
	tristate "SMAF optee secure module"
	depends on SMAF
	help
	  Choose this option to enable optee module within SMAF
