CONFIG_ARM_CRYPTO=y
CONFIG_CRYPTO_SHA1_ARM_CE=y
CONFIG_CRYPTO_SHA2_ARM_CE=y
CONFIG_CRYPTO_AES_ARM=y
CONFIG_CRYPTO_AES_ARM_BS=y
CONFIG_CRYPTO_AES_ARM_CE=y
CONFIG_CRYPTO_GHASH_ARM_CE=y
CONFIG_CRYPTO_TEST=m
# CONFIG_CRYPTO_MANAGER_DISABLE_TESTS is not set
CONFIG_KERNEL_MODE_NEON=y
CONFIG_MP_ARMCE_TEST=y
